{% extends "layout.njk" %}

{% block head %}
        <title>{{ item.title }} - Foodfy</title>  
{% endblock %}

{% block bold %}
    <nav>
        <a href="/about" id="">Sobre</a>
        <a href="/recipes" id="bold">Receitas</a>
    </nav>
{% endblock %}

{% block content %}          
        <div class="container">                
                        <div class="recipe-img">
                                <img src="{{ item.image }}" alt="Image of {{ item.title }}">
                        </div>
                        <div class="recipe-header">
                                <div class="recipe-title">
                                        <h2> {{ item.title }}</h2>        
                                </div>
                                <div class="recipe-author">
                                        <p>{{ item.author }}</p>
                                </div>
                        </div> 
                        <div class="recipe-detail">
                                <div class="recipe-topic">
                                        <h4>Ingredientes</h4>
                                        <p class="button">ESCONDER</p>
                                </div>
                                <div class="recipe-description">
                                        {% for ingredient in item.ingredients %}
                                                <ul>{{ ingredient }}</ul>
                                        {% endfor %}   
                                </div>
                        </div>                       
                        
                        <div class="recipe-detail">
                                <div class="recipe-topic">
                                        <h4>Modo de preparo</h4>
                                        <p class="button">MOSTRAR</p>
                                </div>
                                <div class="recipe-description hide">
                                        {% for prep in item.preparation %}
                                                <p>{{ prep }}</p> 
                                        {% endfor %}                                            
                                </div>                    
                        </div>

                        <div class="recipe-detail">
                                <div class="recipe-topic">
                                        <h4>Informações adicionais</h4>
                                        <p class="button">MOSTRAR</p> 
                                </div>
                                <div class="recipe-description hide">
                                        <p>{{item.information}}</p>          
                                </div>
                        </div>                        
        </div>

{% endblock %}